name: SokoBanja Auto-Pilot
on:
  schedule:
    - cron: '0 7 * * *'
  workflow_dispatch:

jobs:
  objavi-vesti:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests cloudscraper
    - name: Run Bot Script
      env:
        WP_USERNAME: ${{ secrets.WP_USERNAME }}
        WP_APP_PASSWORD: ${{ secrets.WP_APP_PASSWORD }}
      run: python bot.py
